.card-carousel {
  z-index: 1;
  transition: filter .3s ease;
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .card {  
  transition: inherit;
}

.card.highlight {
  filter: brightness(1)
}

.image-container {
  position: relative;
  
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}